/build/

.agents/
.codex/

*.vcd
*.fst
*.fsdb
*.log
*.map
*.pyc
*.o

obj_dir/
__pycache__/

third_party/ecos-sdk/

/sw/tests/*
!/sw/tests/.gitkeep
sw/bootrom/**/*.elf
sw/bootrom/**/*.hex
sw/bootrom/**/*.txt
sw/bootrom/**/app.bin
sw/bootrom/**/app.lds
sw/bootrom/**/sections.info
